@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f9fafb; 
  color: #111827;
}

html.dark {
  background-color: #111827; 
  color: #f9fafb; 
}

html, body, #root, div {
  transition: background-color 0.3s ease, color 0.3s ease;
}

